<div class="fixed-header-bar">
	<div class="container">
		<span class="site-branding">World weather information</span>
	</div>
</div>

<div class="container">
	<div class="page-content">
		<div class="col-md-12">

			<div class="dynamic-weather-info">
				<h2>Weather in your city</h2>

				<div class="search-form">
					<%= form_tag("get_weather_info", remote: true, id: "search-form") do %>
						<div class="row">
							<div class="col-md-4 col-sm-6 field">
								<%= text_field_tag :country, "",
											placeholder: "Country name", class: "form-control" %>
						
							</div>
							<div class="col-md-4 col-sm-6 field">
								<%= text_field_tag :city, "",
											placeholder: "City name", 
											class: "form-control", required: "required" %>
							</div>
							<div class="col-md-4 field">
								<input type="submit" name="" 
								value="Search" class="form-control btn btn-search">
							</div>
						</div>	
					<% end %>
				</div>

				<div class="progress" id="progress-bar">
				  <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar"
				  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
				    please wait
				  </div>
				</div>

				<div class="results" id="results">
					
				</div>

			</div>
		</div>
		<div class="col-md-12">
			<div class="random-locations-weather">
				<h2>World weather conditions</h2>

				<% if @random_weather_locations.empty? %>
					<p class="alert alert-warning">
						Please reload page to view world weather conditions
					</p>
				<% else %>
					<div class="row weather-list">
						<% @random_weather_locations.each do |weather| %>
							<div class="col-md-3 col-xs-6 weather-list-item">
								<div>
									<div><%= image_tag(weather.get_icon_url) %></div>
									<div class="location">
										<%= weather.city %>, 
										<%= weather.country %> 
										<%= image_tag(weather.get_flag_url, class: "") %>
									</div>
									<div>
									<%= weather.temp %><sup>o</sup></div>
								</div>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$("#search-form").submit(
		function(){
			$("#progress-bar").show();
		}
	);
</script>
